.DS_Store
node_modules
/.svelte-kit
/package
build/favicon.png
build/index.html
build/_app/error.svelte-535d4d83.js
build/_app/start-fd7db9ae.js
build/_app/assets/start-a8cd1609.css
build/_app/assets/vendor-28c0263c.css
build/_app/assets/pages/lexikon.svelte-657fb23b.css
build/_app/chunks/SpeciesDetails-ac806a53.js
build/_app/chunks/store-4dd34c80.js
build/_app/chunks/vendor-0829c8b6.js
build/_app/pages/__layout.svelte-48f69117.js
build/_app/pages/index.svelte-a118e848.js
build/_app/pages/lexikon.svelte-4550e70e.js
build/_app/pages/species/Pflanze_[id].svelte-95ea3502.js
build/_app/pages/species/Tier_[id].svelte-e76aa6b9.js
build/lexikon/index.html
build/_app/pages/species/Pflanze_[id].svelte-95ea3502.js
build/_app/pages/species/Tier_[id].svelte-e76aa6b9.js
build/_app/pages/species/Pflanze_[id].svelte-95ea3502.js
build/_app/pages/species/Tier_[id].svelte-e76aa6b9.js
build/_app/start-f89cb166.js
build/_app/assets/SpeciesDetails-e20ad50c.css
build/_app/assets/pages/index.svelte-2e55ebfa.css
build/_app/assets/pages/lexikon.svelte-d3126abf.css
build/_app/chunks/SpeciesDetails-ad4efa41.js
build/_app/chunks/store-05e62c71.js
build/_app/chunks/vendor-1792fa9e.js
build/_app/pages/__layout.svelte-e6d29b41.js
build/_app/pages/index.svelte-b3d819f2.js
build/_app/pages/interactions.svelte-65de6b72.js
build/_app/pages/lexikon.svelte-1603314b.js
build/_app/pages/species/Pflanze_[id].svelte-f2ccd231.js
build/_app/pages/species/Taxon_[id].svelte-363dcf87.js
build/_app/pages/species/Tier_[id].svelte-c6113d06.js
build/interactions/index.html
build/_app/error.svelte-8249b9cb.js
build/_app/pages/species/Pflanze_[id].svelte-f2ccd231.js
build/_app/pages/species/Taxon_[id].svelte-363dcf87.js
build/_app/pages/species/Tier_[id].svelte-c6113d06.js
build/_app/pages/species/Tier_[id].svelte-c6113d06.js
build/_app/pages/species/Taxon_[id].svelte-363dcf87.js
build/_app/pages/species/Pflanze_[id].svelte-f2ccd231.js
build/_app/pages/species/Pflanze_[id].svelte-f2ccd231.js
build/_app/pages/species/Tier_[id].svelte-c6113d06.js
build/_app/pages/species/Taxon_[id].svelte-363dcf87.js
/build
build
/build/_app
_app
