.DS_Store
node_modules
/.svelte-kit
/package
build/favicon.png
build/index.html
build/_app/error.svelte-535d4d83.js
build/_app/start-fd7db9ae.js
build/_app/assets/start-a8cd1609.css
build/_app/assets/vendor-28c0263c.css
build/_app/assets/pages/lexikon.svelte-657fb23b.css
build/_app/chunks/SpeciesDetails-ac806a53.js
build/_app/chunks/store-4dd34c80.js
build/_app/chunks/vendor-0829c8b6.js
build/_app/pages/__layout.svelte-48f69117.js
build/_app/pages/index.svelte-a118e848.js
build/_app/pages/lexikon.svelte-4550e70e.js
build/_app/pages/species/Pflanze_[id].svelte-95ea3502.js
build/_app/pages/species/Tier_[id].svelte-e76aa6b9.js
build/lexikon/index.html
build/_app/pages/species/Pflanze_[id].svelte-95ea3502.js
build/_app/pages/species/Tier_[id].svelte-e76aa6b9.js
build/_app/pages/species/Pflanze_[id].svelte-95ea3502.js
build/_app/pages/species/Tier_[id].svelte-e76aa6b9.js
